.header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #540014;
	background: linear-gradient(39deg, rgba(27, 0, 0, 0.92) -27.51%, 
																		 #DD0202 85.67%);
	padding: 0.5em 9em;
}

.headerNav{
	display: flex;
	align-items: center;
}
 
.headerNav__item{
	list-style-type: disc;
	display: -webkit-box;
	display: -webkit-flex;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
}

.headerNav__item .logo{
	height: 80px;
	padding-bottom: 12px;
}

.searchPlains form{
	display: flex;
	align-self: center;
	align-content: center;
}

.searchPlains button{
	outline: none;
	border: none;
	cursor: pointer;
	background-color: inherit;
	border-radius: 6px;
}

.inputSearch{
	width: 800px ;
	border: none;
	border-radius: 6px;
	border-bottom: 2px solid black;
	background-color: #fff;
	color: white;
}
.inputSearch:focus{
	outline: none;
}

.imgSearch{
	width: 30px;
	height: 30px;
	filter:invert(100%)
}

.like_and_buy{
	width: 45px;
	height: 45px;
	margin: 0 25px 0 0;
	cursor: pointer;
}

.like_and_buy a{
	color: white;
	text-align: center;
	border: none;
	background-color: inherit;
}

.link-header {
	font-size: 20px;
	padding: 0.5em;
	border: 1px solid white;
	border-radius: 10px;
	background-color: inherit;
	color: white;
}

.link-header:hover {
	background-color: white;
	color: #DD0202;
}

.profilePhoto{
	border: 1px solid white;
	width: 60px;
	height: 60px;
	border-radius: 50px;
} 

.bottomHeader {
	display: flex;
	justify-content: space-between;
}