@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card_image img {
	width: 90%;
	max-height: 175.5px;
  vertical-align: middle;
	margin: 1em 1em;
	border-radius: 10px;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}


.card_btn {
	text-align: center;
	margin: 1em 0.5em;
	background: linear-gradient(39deg, #DD0202 -27.51%, 
																		 rgba(27, 0, 0, 0.92) 85.67%);	
	transition: all 1s ease-in;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
	/* max-width: 20%; */
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
	width: 271px;
	height: 373px;
}

.card_content {
  padding: 0.5rem 1rem;
	height: 100%;
}

.card_title {
  font-size: 0.875rem;
	font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card_title .productName {
	color: #9d9da5;
}

.card_text {
  font-size: 1rem;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.card_text .price {
	font-size: 1.3em;
}

.old_price {
	color: #5f5f5f;	
}