<%= link_to "Новый товар", new_product_path, class: "btn_layout new_product_btn" %>

<%= link_to "Все категории", categories_path, class: "btn_layout new_product_btn" %>

<ul class="cards">
	<% @products.each do |product| %>
    <li class="cards_item">
			<%= link_to product, class: "link" do %>					
				<%= render product %>
			<% end %>
		</li>		
	<% end %>
</ul>

