<div class="footer">
	<div class="columns">
		<div class="col col1">
			<%= image_tag("Logo.png", class: "footer-logo") %>
		</div>
		
		<div class="col col2">
			<div class="contacts">
			
				<div class="contact label">
					Контактные данные:
				</div>

				<div class="contact numbers">
					<a class="footer-link contact-link" href="#">+7 800 888 8888</a>
				</div>

				<div class="contact email">
					<a class="footer-link contact-link" href="#">email2@mail.com </a>
				</div>
			
			</div>
		</div>
	</div>
</div>